<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/show/1">Screen</a></h1><br>
    <h1><a href="/control/1">Controllers</a></h1>
  </body>
</html>